@using ProjectTrackerApplicationLayer.DTO

@model UserDTO

<h2 class="text-center">Edit Team Manager</h2>
<br />
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
        <form asp-action="EdittingTeamManager">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.HiddenFor(x=>x.UserID)
                 <div class="form-group">
                    <label asp-for="FirstName" class="label-control"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="label-control"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="label-control"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNo" class="label-control"></label>
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="label-control"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>
</div>


